{# templates/realisation/new.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Ajouter une réalisation{% endblock %}

{% block body %}
    <h1>Ajouter une réalisation</h1>

    {{ form_start(form) }}
    
    {{ form_row(form.nom_projet) }}
    {{ form_row(form.numero_projet) }}
    {{ form_row(form.image_pricipale) }}
    {{ form_row(form.detailsRealisations) }}
    
    <button class="btn btn-success">Soumettre</button>
    
    {{ form_end(form) }}
{% endblock %}
